body,
html {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Helvetica Neue", serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	background-color: #000;
	position: fixed;
	color: #fff;
	width: 100%;
	text-align: center;
}

header h1 {
	height: 50px;
	line-height: 50px;
}

main {
	padding-top: 90px;
}

header img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

header nav {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

header ul li {
	float: left;
	margin-right: 5px;
}

header ul li a {
	color: #fff;
}

#description,
#relationship {
	padding: 30px 100px;
}

#description {
	background-color: #eee;
}

#description img,
#relationship img {
	width: 500px;
	height: 500px;
	margin-bottom: 20px;
}

#description img {
	float: left;
	margin-right: 20px;
}

#description p:last-child {
	clear: both;
}

#relationship img {
	float: right;
	margin-left: 20px;
}

#relationship {
	clear: both;
}

footer {
	clear: both;
	background-color: #ccc;
	height: 100px;
	line-height: 100px;
	text-align: center;
}